.itemRemoveBtn {
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.dropdown-toggle::after{*/
/*    display: inline-block;*/
/*    margin-left: 0.255em;*/
/*    vertical-align: 0.255em;*/
/*    content: "";*/
/*    border-top: 0.3em solid;*/
/*    border-right: 0.3em solid transparent;*/
/*    border-bottom: 0;*/
/*    border-left: 0.3em solid transparent;*/
/*}*/
/*::after {box-sizing: border-box;}*/

.dropdown-menu2.show2 {
    display: block;
}
.dropdown-menu2 {
    &[x-placement^="top"],
    &[x-placement^="right"],
    &[x-placement^="bottom"],
    &[x-placement^="left"] {
        right: auto;
        bottom: auto;
    }
}
.dropright .dropdown-menu2 {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0.125rem;
}

.dropdown-menu2 {
    max-height: 50em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-multicol2 {
    min-width: 50em;
}

.dropdown-menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}


