.sprite-1001, .sprite-1004, .sprite-1006, .sprite-1011, .sprite-1018, .sprite-1026, .sprite-1027, .sprite-1028, .sprite-1029, .sprite-1031, .sprite-1033, .sprite-1035, .sprite-1036, .sprite-1037, .sprite-1038, .sprite-1039, .sprite-1042, .sprite-1043, .sprite-1052, .sprite-1053, .sprite-1054, .sprite-1055, .sprite-1056, .sprite-1057, .sprite-1058, .sprite-1082, .sprite-1083, .sprite-2003, .sprite-2010, .sprite-2015, .sprite-2031, .sprite-2033, .sprite-2052, .sprite-2055, .sprite-2065, .sprite-2138, .sprite-2139, .sprite-2140, .sprite-2403, .sprite-2419, .sprite-2420, .sprite-2421, .sprite-2422, .sprite-2423, .sprite-2424, .sprite-3001, .sprite-3003, .sprite-3004, .sprite-3006, .sprite-3009, .sprite-3011, .sprite-3020, .sprite-3024, .sprite-3026, .sprite-3031, .sprite-3033, .sprite-3035, .sprite-3036, .sprite-3040, .sprite-3041, .sprite-3042, .sprite-3044, .sprite-3046, .sprite-3047, .sprite-3050, .sprite-3051, .sprite-3053, .sprite-3057, .sprite-3065, .sprite-3066, .sprite-3067, .sprite-3068, .sprite-3070, .sprite-3071, .sprite-3072, .sprite-3074, .sprite-3075, .sprite-3076, .sprite-3077, .sprite-3078, .sprite-3082, .sprite-3083, .sprite-3085, .sprite-3086, .sprite-3089, .sprite-3091, .sprite-3094, .sprite-3095, .sprite-3100, .sprite-3102, .sprite-3105, .sprite-3107, .sprite-3108, .sprite-3109, .sprite-3110, .sprite-3111, .sprite-3113, .sprite-3114, .sprite-3115, .sprite-3116, .sprite-3117, .sprite-3123, .sprite-3124, .sprite-3133, .sprite-3134, .sprite-3135, .sprite-3139, .sprite-3140, .sprite-3142, .sprite-3143, .sprite-3145, .sprite-3152, .sprite-3153, .sprite-3155, .sprite-3156, .sprite-3157, .sprite-3158, .sprite-3165, .sprite-3179, .sprite-3181, .sprite-3190, .sprite-3191, .sprite-3193, .sprite-3211, .sprite-3222, .sprite-3330, .sprite-3340, .sprite-3363, .sprite-3364, .sprite-3400, .sprite-3504, .sprite-3508, .sprite-3599, .sprite-3600, .sprite-3742, .sprite-3748, .sprite-3801, .sprite-3802, .sprite-3814, .sprite-3850, .sprite-3851, .sprite-3853, .sprite-3854, .sprite-3855, .sprite-3857, .sprite-3858, .sprite-3859, .sprite-3860, .sprite-3862, .sprite-3863, .sprite-3864, .sprite-3916, .sprite-4005, .sprite-4401, .sprite-4628, .sprite-4629, .sprite-4630, .sprite-4632, .sprite-4633, .sprite-4635, .sprite-4636, .sprite-4637, .sprite-4638, .sprite-4642, .sprite-4643, .sprite-6029, .sprite-6035, .sprite-6333, .sprite-6609, .sprite-6616, .sprite-6617, .sprite-6630, .sprite-6631, .sprite-6632, .sprite-6653, .sprite-6655, .sprite-6656, .sprite-6660, .sprite-6662, .sprite-6664, .sprite-6670, .sprite-6671, .sprite-6672, .sprite-6673, .sprite-6675, .sprite-6676, .sprite-6677, .sprite-6691, .sprite-6692, .sprite-6693, .sprite-6694, .sprite-6695, .sprite-7000, .sprite-7001, .sprite-7002, .sprite-7003, .sprite-7004, .sprite-7005, .sprite-7006, .sprite-7007, .sprite-7008, .sprite-7009, .sprite-7010, .sprite-7011, .sprite-7012, .sprite-7013, .sprite-7014, .sprite-7015, .sprite-7016, .sprite-7017, .sprite-7018, .sprite-7019, .sprite-7020, .sprite-7021, .sprite-7022
{ max-width: 100%; background-size: 100% 21500%; background-image: url(../resource/img/item-sprites.jpg); display: block; background-repeat: no-repeat; width: 100%; padding-top: 100%;}

.sprite-1001 { background-position: 0 0.0%; background-size: 100% 21500%; }
.sprite-1004 { background-position: 0 0.4672897196261682%; background-size: 100% 21500%; }
.sprite-1006 { background-position: 0 0.9345794392523364%; background-size: 100% 21500%; }
.sprite-1011 { background-position: 0 1.4018691588785046%; background-size: 100% 21500%; }
.sprite-1018 { background-position: 0 1.8691588785046729%; background-size: 100% 21500%; }
.sprite-1026 { background-position: 0 2.336448598130841%; background-size: 100% 21500%; }
.sprite-1027 { background-position: 0 2.803738317757009%; background-size: 100% 21500%; }
.sprite-1028 { background-position: 0 3.2710280373831777%; background-size: 100% 21500%; }
.sprite-1029 { background-position: 0 3.7383177570093458%; background-size: 100% 21500%; }
.sprite-1031 { background-position: 0 4.205607476635514%; background-size: 100% 21500%; }
.sprite-1033 { background-position: 0 4.672897196261682%; background-size: 100% 21500%; }
.sprite-1035 { background-position: 0 5.140186915887851%; background-size: 100% 21500%; }
.sprite-1036 { background-position: 0 5.607476635514018%; background-size: 100% 21500%; }
.sprite-1037 { background-position: 0 6.074766355140187%; background-size: 100% 21500%; }
.sprite-1038 { background-position: 0 6.542056074766355%; background-size: 100% 21500%; }
.sprite-1039 { background-position: 0 7.009345794392523%; background-size: 100% 21500%; }
.sprite-1042 { background-position: 0 7.4766355140186915%; background-size: 100% 21500%; }
.sprite-1043 { background-position: 0 7.94392523364486%; background-size: 100% 21500%; }
.sprite-1052 { background-position: 0 8.411214953271028%; background-size: 100% 21500%; }
.sprite-1053 { background-position: 0 8.878504672897197%; background-size: 100% 21500%; }
.sprite-1054 { background-position: 0 9.345794392523365%; background-size: 100% 21500%; }
.sprite-1055 { background-position: 0 9.813084112149532%; background-size: 100% 21500%; }
.sprite-1056 { background-position: 0 10.280373831775702%; background-size: 100% 21500%; }
.sprite-1057 { background-position: 0 10.74766355140187%; background-size: 100% 21500%; }
.sprite-1058 { background-position: 0 11.214953271028037%; background-size: 100% 21500%; }
.sprite-1082 { background-position: 0 11.682242990654206%; background-size: 100% 21500%; }
.sprite-1083 { background-position: 0 12.149532710280374%; background-size: 100% 21500%; }
.sprite-2003 { background-position: 0 12.616822429906541%; background-size: 100% 21500%; }
.sprite-2010 { background-position: 0 13.08411214953271%; background-size: 100% 21500%; }
.sprite-2015 { background-position: 0 13.551401869158878%; background-size: 100% 21500%; }
.sprite-2031 { background-position: 0 14.018691588785046%; background-size: 100% 21500%; }
.sprite-2033 { background-position: 0 14.485981308411215%; background-size: 100% 21500%; }
.sprite-2052 { background-position: 0 14.953271028037383%; background-size: 100% 21500%; }
.sprite-2055 { background-position: 0 15.42056074766355%; background-size: 100% 21500%; }
.sprite-2065 { background-position: 0 15.88785046728972%; background-size: 100% 21500%; }
.sprite-2138 { background-position: 0 16.35514018691589%; background-size: 100% 21500%; }
.sprite-2139 { background-position: 0 16.822429906542055%; background-size: 100% 21500%; }
.sprite-2140 { background-position: 0 17.289719626168225%; background-size: 100% 21500%; }
.sprite-2403 { background-position: 0 17.757009345794394%; background-size: 100% 21500%; }
.sprite-2419 { background-position: 0 18.22429906542056%; background-size: 100% 21500%; }
.sprite-2420 { background-position: 0 18.69158878504673%; background-size: 100% 21500%; }
.sprite-2421 { background-position: 0 19.1588785046729%; background-size: 100% 21500%; }
.sprite-2422 { background-position: 0 19.626168224299064%; background-size: 100% 21500%; }
.sprite-2423 { background-position: 0 20.093457943925234%; background-size: 100% 21500%; }
.sprite-2424 { background-position: 0 20.560747663551403%; background-size: 100% 21500%; }
.sprite-3001 { background-position: 0 21.02803738317757%; background-size: 100% 21500%; }
.sprite-3003 { background-position: 0 21.49532710280374%; background-size: 100% 21500%; }
.sprite-3004 { background-position: 0 21.962616822429908%; background-size: 100% 21500%; }
.sprite-3006 { background-position: 0 22.429906542056074%; background-size: 100% 21500%; }
.sprite-3009 { background-position: 0 22.897196261682243%; background-size: 100% 21500%; }
.sprite-3011 { background-position: 0 23.364485981308412%; background-size: 100% 21500%; }
.sprite-3020 { background-position: 0 23.83177570093458%; background-size: 100% 21500%; }
.sprite-3024 { background-position: 0 24.299065420560748%; background-size: 100% 21500%; }
.sprite-3026 { background-position: 0 24.766355140186917%; background-size: 100% 21500%; }
.sprite-3031 { background-position: 0 25.233644859813083%; background-size: 100% 21500%; }
.sprite-3033 { background-position: 0 25.700934579439252%; background-size: 100% 21500%; }
.sprite-3035 { background-position: 0 26.16822429906542%; background-size: 100% 21500%; }
.sprite-3036 { background-position: 0 26.635514018691588%; background-size: 100% 21500%; }
.sprite-3040 { background-position: 0 27.102803738317757%; background-size: 100% 21500%; }
.sprite-3041 { background-position: 0 27.570093457943926%; background-size: 100% 21500%; }
.sprite-3042 { background-position: 0 28.037383177570092%; background-size: 100% 21500%; }
.sprite-3044 { background-position: 0 28.50467289719626%; background-size: 100% 21500%; }
.sprite-3046 { background-position: 0 28.97196261682243%; background-size: 100% 21500%; }
.sprite-3047 { background-position: 0 29.439252336448597%; background-size: 100% 21500%; }
.sprite-3050 { background-position: 0 29.906542056074766%; background-size: 100% 21500%; }
.sprite-3051 { background-position: 0 30.373831775700936%; background-size: 100% 21500%; }
.sprite-3053 { background-position: 0 30.8411214953271%; background-size: 100% 21500%; }
.sprite-3057 { background-position: 0 31.30841121495327%; background-size: 100% 21500%; }
.sprite-3065 { background-position: 0 31.77570093457944%; background-size: 100% 21500%; }
.sprite-3066 { background-position: 0 32.242990654205606%; background-size: 100% 21500%; }
.sprite-3067 { background-position: 0 32.71028037383178%; background-size: 100% 21500%; }
.sprite-3068 { background-position: 0 33.177570093457945%; background-size: 100% 21500%; }
.sprite-3070 { background-position: 0 33.64485981308411%; background-size: 100% 21500%; }
.sprite-3071 { background-position: 0 34.11214953271028%; background-size: 100% 21500%; }
.sprite-3072 { background-position: 0 34.57943925233645%; background-size: 100% 21500%; }
.sprite-3074 { background-position: 0 35.046728971962615%; background-size: 100% 21500%; }
.sprite-3075 { background-position: 0 35.51401869158879%; background-size: 100% 21500%; }
.sprite-3076 { background-position: 0 35.981308411214954%; background-size: 100% 21500%; }
.sprite-3077 { background-position: 0 36.44859813084112%; background-size: 100% 21500%; }
.sprite-3078 { background-position: 0 36.91588785046729%; background-size: 100% 21500%; }
.sprite-3082 { background-position: 0 37.38317757009346%; background-size: 100% 21500%; }
.sprite-3083 { background-position: 0 37.850467289719624%; background-size: 100% 21500%; }
.sprite-3085 { background-position: 0 38.3177570093458%; background-size: 100% 21500%; }
.sprite-3086 { background-position: 0 38.78504672897196%; background-size: 100% 21500%; }
.sprite-3089 { background-position: 0 39.25233644859813%; background-size: 100% 21500%; }
.sprite-3091 { background-position: 0 39.7196261682243%; background-size: 100% 21500%; }
.sprite-3094 { background-position: 0 40.18691588785047%; background-size: 100% 21500%; }
.sprite-3095 { background-position: 0 40.654205607476634%; background-size: 100% 21500%; }
.sprite-3100 { background-position: 0 41.12149532710281%; background-size: 100% 21500%; }
.sprite-3102 { background-position: 0 41.58878504672897%; background-size: 100% 21500%; }
.sprite-3105 { background-position: 0 42.05607476635514%; background-size: 100% 21500%; }
.sprite-3107 { background-position: 0 42.52336448598131%; background-size: 100% 21500%; }
.sprite-3108 { background-position: 0 42.99065420560748%; background-size: 100% 21500%; }
.sprite-3109 { background-position: 0 43.45794392523364%; background-size: 100% 21500%; }
.sprite-3110 { background-position: 0 43.925233644859816%; background-size: 100% 21500%; }
.sprite-3111 { background-position: 0 44.39252336448598%; background-size: 100% 21500%; }
.sprite-3113 { background-position: 0 44.85981308411215%; background-size: 100% 21500%; }
.sprite-3114 { background-position: 0 45.32710280373832%; background-size: 100% 21500%; }
.sprite-3115 { background-position: 0 45.794392523364486%; background-size: 100% 21500%; }
.sprite-3116 { background-position: 0 46.26168224299065%; background-size: 100% 21500%; }
.sprite-3117 { background-position: 0 46.728971962616825%; background-size: 100% 21500%; }
.sprite-3123 { background-position: 0 47.19626168224299%; background-size: 100% 21500%; }
.sprite-3124 { background-position: 0 47.66355140186916%; background-size: 100% 21500%; }
.sprite-3133 { background-position: 0 48.13084112149533%; background-size: 100% 21500%; }
.sprite-3134 { background-position: 0 48.598130841121495%; background-size: 100% 21500%; }
.sprite-3135 { background-position: 0 49.06542056074766%; background-size: 100% 21500%; }
.sprite-3139 { background-position: 0 49.532710280373834%; background-size: 100% 21500%; }
.sprite-3140 { background-position: 0 50.0%; background-size: 100% 21500%; }
.sprite-3142 { background-position: 0 50.467289719626166%; background-size: 100% 21500%; }
.sprite-3143 { background-position: 0 50.93457943925234%; background-size: 100% 21500%; }
.sprite-3145 { background-position: 0 51.401869158878505%; background-size: 100% 21500%; }
.sprite-3152 { background-position: 0 51.86915887850467%; background-size: 100% 21500%; }
.sprite-3153 { background-position: 0 52.33644859813084%; background-size: 100% 21500%; }
.sprite-3155 { background-position: 0 52.80373831775701%; background-size: 100% 21500%; }
.sprite-3156 { background-position: 0 53.271028037383175%; background-size: 100% 21500%; }
.sprite-3157 { background-position: 0 53.73831775700935%; background-size: 100% 21500%; }
.sprite-3158 { background-position: 0 54.205607476635514%; background-size: 100% 21500%; }
.sprite-3165 { background-position: 0 54.67289719626168%; background-size: 100% 21500%; }
.sprite-3179 { background-position: 0 55.14018691588785%; background-size: 100% 21500%; }
.sprite-3181 { background-position: 0 55.60747663551402%; background-size: 100% 21500%; }
.sprite-3190 { background-position: 0 56.074766355140184%; background-size: 100% 21500%; }
.sprite-3191 { background-position: 0 56.54205607476636%; background-size: 100% 21500%; }
.sprite-3193 { background-position: 0 57.00934579439252%; background-size: 100% 21500%; }
.sprite-3211 { background-position: 0 57.47663551401869%; background-size: 100% 21500%; }
.sprite-3222 { background-position: 0 57.94392523364486%; background-size: 100% 21500%; }
.sprite-3330 { background-position: 0 58.41121495327103%; background-size: 100% 21500%; }
.sprite-3340 { background-position: 0 58.87850467289719%; background-size: 100% 21500%; }
.sprite-3363 { background-position: 0 59.345794392523366%; background-size: 100% 21500%; }
.sprite-3364 { background-position: 0 59.81308411214953%; background-size: 100% 21500%; }
.sprite-3400 { background-position: 0 60.2803738317757%; background-size: 100% 21500%; }
.sprite-3504 { background-position: 0 60.74766355140187%; background-size: 100% 21500%; }
.sprite-3508 { background-position: 0 61.21495327102804%; background-size: 100% 21500%; }
.sprite-3599 { background-position: 0 61.6822429906542%; background-size: 100% 21500%; }
.sprite-3600 { background-position: 0 62.149532710280376%; background-size: 100% 21500%; }
.sprite-3742 { background-position: 0 62.61682242990654%; background-size: 100% 21500%; }
.sprite-3748 { background-position: 0 63.08411214953271%; background-size: 100% 21500%; }
.sprite-3801 { background-position: 0 63.55140186915888%; background-size: 100% 21500%; }
.sprite-3802 { background-position: 0 64.01869158878505%; background-size: 100% 21500%; }
.sprite-3814 { background-position: 0 64.48598130841121%; background-size: 100% 21500%; }
.sprite-3850 { background-position: 0 64.95327102803738%; background-size: 100% 21500%; }
.sprite-3851 { background-position: 0 65.42056074766356%; background-size: 100% 21500%; }
.sprite-3853 { background-position: 0 65.88785046728972%; background-size: 100% 21500%; }
.sprite-3854 { background-position: 0 66.35514018691589%; background-size: 100% 21500%; }
.sprite-3855 { background-position: 0 66.82242990654206%; background-size: 100% 21500%; }
.sprite-3857 { background-position: 0 67.28971962616822%; background-size: 100% 21500%; }
.sprite-3858 { background-position: 0 67.75700934579439%; background-size: 100% 21500%; }
.sprite-3859 { background-position: 0 68.22429906542057%; background-size: 100% 21500%; }
.sprite-3860 { background-position: 0 68.69158878504673%; background-size: 100% 21500%; }
.sprite-3862 { background-position: 0 69.1588785046729%; background-size: 100% 21500%; }
.sprite-3863 { background-position: 0 69.62616822429906%; background-size: 100% 21500%; }
.sprite-3864 { background-position: 0 70.09345794392523%; background-size: 100% 21500%; }
.sprite-3916 { background-position: 0 70.5607476635514%; background-size: 100% 21500%; }
.sprite-4005 { background-position: 0 71.02803738317758%; background-size: 100% 21500%; }
.sprite-4401 { background-position: 0 71.49532710280374%; background-size: 100% 21500%; }
.sprite-4628 { background-position: 0 71.96261682242991%; background-size: 100% 21500%; }
.sprite-4629 { background-position: 0 72.42990654205607%; background-size: 100% 21500%; }
.sprite-4630 { background-position: 0 72.89719626168224%; background-size: 100% 21500%; }
.sprite-4632 { background-position: 0 73.3644859813084%; background-size: 100% 21500%; }
.sprite-4633 { background-position: 0 73.83177570093459%; background-size: 100% 21500%; }
.sprite-4635 { background-position: 0 74.29906542056075%; background-size: 100% 21500%; }
.sprite-4636 { background-position: 0 74.76635514018692%; background-size: 100% 21500%; }
.sprite-4637 { background-position: 0 75.23364485981308%; background-size: 100% 21500%; }
.sprite-4638 { background-position: 0 75.70093457943925%; background-size: 100% 21500%; }
.sprite-4642 { background-position: 0 76.16822429906541%; background-size: 100% 21500%; }
.sprite-4643 { background-position: 0 76.6355140186916%; background-size: 100% 21500%; }
.sprite-6029 { background-position: 0 77.10280373831776%; background-size: 100% 21500%; }
.sprite-6035 { background-position: 0 77.57009345794393%; background-size: 100% 21500%; }
.sprite-6333 { background-position: 0 78.03738317757009%; background-size: 100% 21500%; }
.sprite-6609 { background-position: 0 78.50467289719626%; background-size: 100% 21500%; }
.sprite-6616 { background-position: 0 78.97196261682242%; background-size: 100% 21500%; }
.sprite-6617 { background-position: 0 79.4392523364486%; background-size: 100% 21500%; }
.sprite-6630 { background-position: 0 79.90654205607477%; background-size: 100% 21500%; }
.sprite-6631 { background-position: 0 80.37383177570094%; background-size: 100% 21500%; }
.sprite-6632 { background-position: 0 80.8411214953271%; background-size: 100% 21500%; }
.sprite-6653 { background-position: 0 81.30841121495327%; background-size: 100% 21500%; }
.sprite-6655 { background-position: 0 81.77570093457943%; background-size: 100% 21500%; }
.sprite-6656 { background-position: 0 82.24299065420561%; background-size: 100% 21500%; }
.sprite-6660 { background-position: 0 82.71028037383178%; background-size: 100% 21500%; }
.sprite-6662 { background-position: 0 83.17757009345794%; background-size: 100% 21500%; }
.sprite-6664 { background-position: 0 83.64485981308411%; background-size: 100% 21500%; }
.sprite-6670 { background-position: 0 84.11214953271028%; background-size: 100% 21500%; }
.sprite-6671 { background-position: 0 84.57943925233644%; background-size: 100% 21500%; }
.sprite-6672 { background-position: 0 85.04672897196262%; background-size: 100% 21500%; }
.sprite-6673 { background-position: 0 85.51401869158879%; background-size: 100% 21500%; }
.sprite-6675 { background-position: 0 85.98130841121495%; background-size: 100% 21500%; }
.sprite-6676 { background-position: 0 86.44859813084112%; background-size: 100% 21500%; }
.sprite-6677 { background-position: 0 86.91588785046729%; background-size: 100% 21500%; }
.sprite-6691 { background-position: 0 87.38317757009345%; background-size: 100% 21500%; }
.sprite-6692 { background-position: 0 87.85046728971963%; background-size: 100% 21500%; }
.sprite-6693 { background-position: 0 88.3177570093458%; background-size: 100% 21500%; }
.sprite-6694 { background-position: 0 88.78504672897196%; background-size: 100% 21500%; }
.sprite-6695 { background-position: 0 89.25233644859813%; background-size: 100% 21500%; }
.sprite-7000 { background-position: 0 89.7196261682243%; background-size: 100% 21500%; }
.sprite-7001 { background-position: 0 90.18691588785046%; background-size: 100% 21500%; }
.sprite-7002 { background-position: 0 90.65420560747664%; background-size: 100% 21500%; }
.sprite-7003 { background-position: 0 91.1214953271028%; background-size: 100% 21500%; }
.sprite-7004 { background-position: 0 91.58878504672897%; background-size: 100% 21500%; }
.sprite-7005 { background-position: 0 92.05607476635514%; background-size: 100% 21500%; }
.sprite-7006 { background-position: 0 92.5233644859813%; background-size: 100% 21500%; }
.sprite-7007 { background-position: 0 92.99065420560747%; background-size: 100% 21500%; }
.sprite-7008 { background-position: 0 93.45794392523365%; background-size: 100% 21500%; }
.sprite-7009 { background-position: 0 93.92523364485982%; background-size: 100% 21500%; }
.sprite-7010 { background-position: 0 94.39252336448598%; background-size: 100% 21500%; }
.sprite-7011 { background-position: 0 94.85981308411215%; background-size: 100% 21500%; }
.sprite-7012 { background-position: 0 95.32710280373831%; background-size: 100% 21500%; }
.sprite-7013 { background-position: 0 95.79439252336448%; background-size: 100% 21500%; }
.sprite-7014 { background-position: 0 96.26168224299066%; background-size: 100% 21500%; }
.sprite-7015 { background-position: 0 96.72897196261682%; background-size: 100% 21500%; }
.sprite-7016 { background-position: 0 97.19626168224299%; background-size: 100% 21500%; }
.sprite-7017 { background-position: 0 97.66355140186916%; background-size: 100% 21500%; }
.sprite-7018 { background-position: 0 98.13084112149532%; background-size: 100% 21500%; }
.sprite-7019 { background-position: 0 98.59813084112149%; background-size: 100% 21500%; }
.sprite-7020 { background-position: 0 99.06542056074767%; background-size: 100% 21500%; }
.sprite-7021 { background-position: 0 99.53271028037383%; background-size: 100% 21500%; }
.sprite-7022 { background-position: 0 100.0%; background-size: 100% 21500%; }
