@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'DM Serif Text', serif; */

/* 위 글꼴은 필요에 따라 변경 */

/* 초기화 */

html { font-size: 62.5%; }

* { margin: 0; padding: 0; box-sizing: border-box }
table { border-collapse: collapse; width: 100%; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; }
img { vertical-align: top;}
ul,ol { list-style: none;}
a { text-decoration: none; color: #000;}
em, address { font-style : normal ; }

button { border: 0 ; background: transparent;} /* 버튼 보더 배경 지우기 */

/* form 테두리 영역 없애기 */
fieldset,input,textarea,select { vertical-align: middle; border: 0;}
legend,caption { display: none;}


body { word-break:keep-all ; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.6; color: #000;}

.inner { max-width: calc(100% - 200px); margin: 0 auto; }


/* 초기화  E */

#header { align-items: center;  background: #598EFF; color: rgb(255, 255, 255);}
#header .inner { padding: 20px; display: flex; align-items: center; }
#header .inner a {text-decoration: none; }
#header .inner h1 { padding: 0px 50px 0px 0px; font-size: 30px; font-weight: bold; color: #fff; }
#header .gnb { margin: 0; display: flex; gap: 30px; align-items: center; }
#header .gnb a { color: rgb(255, 255, 255); text-decoration: none; }
#header .gnb a:hover { color:rgb(255, 38, 0)}
#header .util { display: flex; margin: 0 0 0 auto; gap: 20px;}
#header .util button { width: 80px ; height: 35px ; background: #ffffff; font-size: 15px; font-weight: 700; text-align: center; border-radius: 10px}
#header .util .joinBtn { width: 110px ; height: 35px ; border: 2px solid #ffdd57; color: #fff; background: #ff00e1; font-size: 15px; font-weight: 700; text-align: center; border-radius: 10px}
#header .util .joinBtn:hover { background: #ad0099; } 

#main #sectionB { position: relative; }
#main #sectionB .video { width: 100%;}

#main #sectionF { position: absolute; top: 200px; width: 100%; height: 700px; display: flex; justify-content: center; }
#main #sectionF #dealmeterL { padding-left: 15px; width:calc(100%/3); background: rgba(255, 255, 255, .8);}

.share_ul { padding-right: 50px;}
.share_Btn { width: 50px; height: 30px; background: #bbff00; color: #000000; font-size: small;}
.txt_player { margin-left: 4px; border: 1px; width: 160px; height: 30px; background: #598EFF; text-align: center;}

#main #sectionF #dealmeterL .saveItemBtn { margin-top: 4px ; width: 50px; height: 50px; background: #598EFF; text-align: center; }
#main #sectionF #dealmeterL .saveItemBtn:hover { background: #0d34b4; color: #fff;}

.dealmeterLBottomL {width: 220px; background-color: #000000;}

.dealmeterLL { width: 50%; }
.ds_flex { display: flex; gap: 5px;}

.LV_Show { width : 50px; height: 50px; background: turquoise; }
.LV_Button { width : 30px; height: 50px; background: turquoise; }
.BA_button { width: 128px; height: 50px; background: #598EFF; color: #fff;}

#main #sectionF #dealmeterL .skill_Btn { width: 50px; height: 50px; background: #598EFF;}
#main #sectionF #dealmeterL .skill_Lv_Btn { margin-top: 5px; width: 25%; height: 20px; background: #598EFF; color: #fff;}
#main #sectionF #dealmeterL .LV_Num { margin-top: 5px; border: 1px solid #000; width: 20px; height: 20px; }
#main #sectionF #dealmeterL .dropdown-toggle-up { position: relative; }
#main #sectionF #dealmeterL .dropdown-toggle::after { position: absolute; transform: rotate(180deg); }




#main #sectionF #dealmeterR { padding: 20px; width:calc(100%/3); height: 700px; background: rgba(255, 255, 255, .8);}


