.sprite-StatModsAdaptiveForceIcon, .sprite-StatModsArmorIcon, .sprite-StatModsAttackSpeedIcon, .sprite-StatModsCDRScalingIcon, .sprite-StatModsHealthScalingIcon, .sprite-StatModsMagicResIcon, .sprite-7200_Domination, .sprite-7201_Precision, .sprite-7202_Sorcery, .sprite-7203_Whimsy, .sprite-7204_Resolve, .sprite-CheapShot, .sprite-DarkHarvest, .sprite-Electrocute, .sprite-EyeballCollection, .sprite-GhostPoro, .sprite-HailOfBlades, .sprite-IngeniousHunter, .sprite-Predator, .sprite-RavenousHunter, .sprite-RelentlessHunter, .sprite-SuddenImpact, .sprite-GreenTerror_TasteOfBlood, .sprite-UltimateHunter, .sprite-ZombieWard, .sprite-BiscuitDelivery, .sprite-CelestialBody, .sprite-CosmicInsight, .sprite-FuturesMarket, .sprite-GlacialAugment, .sprite-HextechFlashtraption, .sprite-Kleptomancy, .sprite-MagicalFootwear, .sprite-MasterKey, .sprite-MinionDematerializer, .sprite-PerfectTiming, .sprite-TimeWarpTonic, .sprite-UnsealedSpellbook, .sprite-Conqueror, .sprite-CoupDeGrace, .sprite-CutDown, .sprite-FleetFootwork, .sprite-LegendAlacrity, .sprite-LegendBloodline, .sprite-LegendTenacity, .sprite-LethalTempoTemp, .sprite-Overheal, .sprite-PresenceOfMind, .sprite-PressTheAttack, .sprite-Triumph, .sprite-ApproachVelocity, .sprite-BonePlating, .sprite-Chrysalis, .sprite-Conditioning, .sprite-Demolish, .sprite-FontOfLife, .sprite-GraspOfTheUndying, .sprite-Guardian, .sprite-IronSkin, .sprite-MirrorShell, .sprite-Overgrowth, .sprite-Revitalize, .sprite-SecondWind, .sprite-VeteranAftershock, .sprite-RunesIcon, .sprite-AbsoluteFocus, .sprite-ArcaneComet, .sprite-CelerityTemp, .sprite-GatheringStorm, .sprite-LastStand, .sprite-ManaflowBand, .sprite-6361, .sprite-Pokeshield, .sprite-PhaseRush, .sprite-Scorch, .sprite-SummonAery, .sprite-Transcendence, .sprite-Unflinching, .sprite-Waterwalking, .sprite-7000
{ max-width: 100%; background-size: 100% 8000%; background-image: url(../images/rune-sprites.png); display: block; background-repeat: no-repeat; width: 100%; padding-top: 100%;}

.sprite-StatModsAdaptiveForceIcon { background-position: 0 0.0%; background-size: 100% 8000%; }
.sprite-StatModsArmorIcon { background-position: 0 1.2658227848101267%; background-size: 100% 8000%; }
.sprite-StatModsAttackSpeedIcon { background-position: 0 2.5316455696202533%; background-size: 100% 8000%; }
.sprite-StatModsCDRScalingIcon { background-position: 0 3.7974683544303796%; background-size: 100% 8000%; }
.sprite-StatModsHealthScalingIcon { background-position: 0 5.063291139240507%; background-size: 100% 8000%; }
.sprite-StatModsMagicResIcon { background-position: 0 6.329113924050633%; background-size: 100% 8000%; }
.sprite-7200_Domination { background-position: 0 7.594936708860759%; background-size: 100% 8000%; }
.sprite-7201_Precision { background-position: 0 8.860759493670885%; background-size: 100% 8000%; }
.sprite-7202_Sorcery { background-position: 0 10.126582278481013%; background-size: 100% 8000%; }
.sprite-7203_Whimsy { background-position: 0 11.39240506329114%; background-size: 100% 8000%; }
.sprite-7204_Resolve { background-position: 0 12.658227848101266%; background-size: 100% 8000%; }
.sprite-CheapShot { background-position: 0 13.924050632911392%; background-size: 100% 8000%; }
.sprite-DarkHarvest { background-position: 0 15.189873417721518%; background-size: 100% 8000%; }
.sprite-Electrocute { background-position: 0 16.455696202531644%; background-size: 100% 8000%; }
.sprite-EyeballCollection { background-position: 0 17.72151898734177%; background-size: 100% 8000%; }
.sprite-GhostPoro { background-position: 0 18.9873417721519%; background-size: 100% 8000%; }
.sprite-HailOfBlades { background-position: 0 20.253164556962027%; background-size: 100% 8000%; }
.sprite-IngeniousHunter { background-position: 0 21.518987341772153%; background-size: 100% 8000%; }
.sprite-Predator { background-position: 0 22.78481012658228%; background-size: 100% 8000%; }
.sprite-RavenousHunter { background-position: 0 24.050632911392405%; background-size: 100% 8000%; }
.sprite-RelentlessHunter { background-position: 0 25.31645569620253%; background-size: 100% 8000%; }
.sprite-SuddenImpact { background-position: 0 26.582278481012658%; background-size: 100% 8000%; }
.sprite-GreenTerror_TasteOfBlood { background-position: 0 27.848101265822784%; background-size: 100% 8000%; }
.sprite-UltimateHunter { background-position: 0 29.11392405063291%; background-size: 100% 8000%; }
.sprite-ZombieWard { background-position: 0 30.379746835443036%; background-size: 100% 8000%; }
.sprite-BiscuitDelivery { background-position: 0 31.645569620253166%; background-size: 100% 8000%; }
.sprite-CelestialBody { background-position: 0 32.91139240506329%; background-size: 100% 8000%; }
.sprite-CosmicInsight { background-position: 0 34.177215189873415%; background-size: 100% 8000%; }
.sprite-FuturesMarket { background-position: 0 35.44303797468354%; background-size: 100% 8000%; }
.sprite-GlacialAugment { background-position: 0 36.70886075949367%; background-size: 100% 8000%; }
.sprite-HextechFlashtraption { background-position: 0 37.9746835443038%; background-size: 100% 8000%; }
.sprite-Kleptomancy { background-position: 0 39.24050632911393%; background-size: 100% 8000%; }
.sprite-MagicalFootwear { background-position: 0 40.50632911392405%; background-size: 100% 8000%; }
.sprite-MasterKey { background-position: 0 41.77215189873418%; background-size: 100% 8000%; }
.sprite-MinionDematerializer { background-position: 0 43.037974683544306%; background-size: 100% 8000%; }
.sprite-PerfectTiming { background-position: 0 44.30379746835443%; background-size: 100% 8000%; }
.sprite-TimeWarpTonic { background-position: 0 45.56962025316456%; background-size: 100% 8000%; }
.sprite-UnsealedSpellbook { background-position: 0 46.835443037974684%; background-size: 100% 8000%; }
.sprite-Conqueror { background-position: 0 48.10126582278481%; background-size: 100% 8000%; }
.sprite-CoupDeGrace { background-position: 0 49.36708860759494%; background-size: 100% 8000%; }
.sprite-CutDown { background-position: 0 50.63291139240506%; background-size: 100% 8000%; }
.sprite-FleetFootwork { background-position: 0 51.89873417721519%; background-size: 100% 8000%; }
.sprite-LegendAlacrity { background-position: 0 53.164556962025316%; background-size: 100% 8000%; }
.sprite-LegendBloodline { background-position: 0 54.43037974683544%; background-size: 100% 8000%; }
.sprite-LegendTenacity { background-position: 0 55.69620253164557%; background-size: 100% 8000%; }
.sprite-LethalTempoTemp { background-position: 0 56.962025316455694%; background-size: 100% 8000%; }
.sprite-Overheal { background-position: 0 58.22784810126582%; background-size: 100% 8000%; }
.sprite-PresenceOfMind { background-position: 0 59.49367088607595%; background-size: 100% 8000%; }
.sprite-PressTheAttack { background-position: 0 60.75949367088607%; background-size: 100% 8000%; }
.sprite-Triumph { background-position: 0 62.0253164556962%; background-size: 100% 8000%; }
.sprite-ApproachVelocity { background-position: 0 63.29113924050633%; background-size: 100% 8000%; }
.sprite-BonePlating { background-position: 0 64.55696202531645%; background-size: 100% 8000%; }
.sprite-Chrysalis { background-position: 0 65.82278481012658%; background-size: 100% 8000%; }
.sprite-Conditioning { background-position: 0 67.0886075949367%; background-size: 100% 8000%; }
.sprite-Demolish { background-position: 0 68.35443037974683%; background-size: 100% 8000%; }
.sprite-FontOfLife { background-position: 0 69.62025316455696%; background-size: 100% 8000%; }
.sprite-GraspOfTheUndying { background-position: 0 70.88607594936708%; background-size: 100% 8000%; }
.sprite-Guardian { background-position: 0 72.15189873417721%; background-size: 100% 8000%; }
.sprite-IronSkin { background-position: 0 73.41772151898734%; background-size: 100% 8000%; }
.sprite-MirrorShell { background-position: 0 74.68354430379746%; background-size: 100% 8000%; }
.sprite-Overgrowth { background-position: 0 75.9493670886076%; background-size: 100% 8000%; }
.sprite-Revitalize { background-position: 0 77.21518987341773%; background-size: 100% 8000%; }
.sprite-SecondWind { background-position: 0 78.48101265822785%; background-size: 100% 8000%; }
.sprite-VeteranAftershock { background-position: 0 79.74683544303798%; background-size: 100% 8000%; }
.sprite-RunesIcon { background-position: 0 81.0126582278481%; background-size: 100% 8000%; }
.sprite-AbsoluteFocus { background-position: 0 82.27848101265823%; background-size: 100% 8000%; }
.sprite-ArcaneComet { background-position: 0 83.54430379746836%; background-size: 100% 8000%; }
.sprite-CelerityTemp { background-position: 0 84.81012658227849%; background-size: 100% 8000%; }
.sprite-GatheringStorm { background-position: 0 86.07594936708861%; background-size: 100% 8000%; }
.sprite-LastStand { background-position: 0 87.34177215189874%; background-size: 100% 8000%; }
.sprite-ManaflowBand { background-position: 0 88.60759493670886%; background-size: 100% 8000%; }
.sprite-6361 { background-position: 0 89.87341772151899%; background-size: 100% 8000%; }
.sprite-Pokeshield { background-position: 0 91.13924050632912%; background-size: 100% 8000%; }
.sprite-PhaseRush { background-position: 0 92.40506329113924%; background-size: 100% 8000%; }
.sprite-Scorch { background-position: 0 93.67088607594937%; background-size: 100% 8000%; }
.sprite-SummonAery { background-position: 0 94.9367088607595%; background-size: 100% 8000%; }
.sprite-Transcendence { background-position: 0 96.20253164556962%; background-size: 100% 8000%; }
.sprite-Unflinching { background-position: 0 97.46835443037975%; background-size: 100% 8000%; }
.sprite-Waterwalking { background-position: 0 98.73417721518987%; background-size: 100% 8000%; }
.sprite-7000 { background-position: 0 100.0%; background-size: 100% 8000%; }
